body {
	font-size: 24px;
}
.wrap {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.player1 {
	background-color: #777373;
	color: white;
	padding: 10px;
	border-radius: 0 0 20px 20px;
	text-align: center;
}
.player2 {
	background-color: #777373;
	color: white;
	padding: 10px;
	border-radius: 20px 20px 0 0 ;
	text-align: center;
}
#my_canvas {
	width: 100vw;
	height: 70vh;
}
